$primary-color: #d1c9c9;
$secondary-color: #ffffff;
$text-color: #160707;
$text-color-light: #160707 ;


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $secondary-color;
    color: $text-color;
}

.barraDeCima {
    background-color: $primary-color;
    padding: 1px 0;
    border-radius: 0%, 50%;


    ul {
        
        background-color: $primary-color;
        list-style: none;
        padding: 0;
        text-align: center;
       
        li {
            display: inline;
            margin: 0 15px;
            color: $text-color;
            cursor: pointer;
        }
    }
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .round-image {
        width: 150px; 
        height: 150px;
        border-radius:30%;
        object-fit: cover;
    }
}

h1 {
    text-align: center;
    color: $text-color;
}

h3 {
    text-align: center;
    color: $text-color;
}
p {
    text-align: center;
    color: $text-color-light;
}

ul {
    padding: 0;
    list-style-type: none;

    li {
        text-align: center;
        margin: 5px 0;

        a {
            color: $text-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

footer {
    text-align: center;
    padding: 1px;
    background-color: $primary-color;
    color: $text-color;
    position: fixed;
    width: 100%;
    bottom: 0;
}
